@font-face {
    font-family: 'Títulos';
    src: url('../fonts/Amiko/Amiko-Bold.ttf');
}

@font-face {
    font-family: 'Logo';
    src: url('../fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'LogoG';
    src: url('../fonts/Lobster/Lobster-Regular.ttf');
    
}

body{
    background-color: #f5ee9e8a;
}

nav{
    display: flex;
    position: fixed;
    /* width: 100vw; */
    background-color: #F5EE9E;
}

.logo{
    font-family: 'LogoG';
    font-size: 10vw;
    display: flex;
    position: absolute;
    left: 35vw;
    color: aliceblue;
    z-index: 1;
} 

#titulo{
    font-family: 'LogoG';
}

.coyoseis{
    width: 100vw;
    height: 200px;
}

#clases{
    border-width: 2px;
    border-color: orange;
    border-style: solid;
    border-radius: 10%;
    width: 60vw;
    height: 80vw;
    padding: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.card{
    display: inline-block;
    justify-items: normal;
    margin: 20px;
}

