.flechas{
    width: 4vw;
    cursor: pointer;
    margin: .8em;
}
.calendario{
    background-color: antiquewhite;
    padding: .5em;
}
.calendario > #navCalendario{
    display: flex;
    justify-content: space-evenly;
}
.calendario > #semana{
    display: grid;
    grid-template-columns: repeat(7,.5fr);
}
.calendario > #dias{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1em;
}
.calendario > #dia{
    display: flex;
    justify-content: center;
    transition-duration: 1s;
    border-radius: 5em;
    transition-property: background-color,display;
    transition-timing-function: ease-out;
}
#dia:hover{
    background-color: lightgrey;
    position: relative;
    bottom: .5em;
}
#fechaCalendario{
    display: flex;
    justify-content: center;
    background-color: lightsteelblue;
    padding-left: 1em;
    padding-right: 1em;
}