body{
    background-color: #f1effe;
    background-image: url(../media/img/FondoPagProf.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container-fluid{
    background-color: #f5ba4c98;
}
#titulo{
    left: 1030px;
}
#titulo2{
    margin: 20px;
    font-size: 35px;
    color: white;
}
#borde{
    display: inline-block;
    position: relative;
    top: 150px;
    width: 1200px;
    left: 20px;
    border: 3px solid;
    border-radius: 20px;
    padding: 3em;
    text-align: center;
    border-color: orange;
    margin-bottom: 3em;
}
#crea{
    margin: 15px;
    font-size: 25px;
}

#btn-Regresar{
    background-color: orange;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border: 0;
    margin: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}

