body{
    background-image: url("../../statics/img/p6.jpg");
    background-size: cover;
}

.contenido{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 239px;
    height: 361px;
    left: 438px;
    top: 72px;
    
    background-color: rgba(252, 183, 118, 0.74);
    border-radius: 20px;
}