body{
    background-image: url("../media/img/p6.jpg");
    background-size: cover;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.form{
    width: 239px;
    left: 438px;
    top: 72px;
    
    background-color: rgba(252, 183, 118, 0.74);
    border-radius: 20px;
    padding: 2em;
}