.optPredeterminada{
    background-color: aliceblue;
    padding: 2em;
    border-radius: 4em;
    margin: 1.5em;
}
#predeterminadas{
    background-color: sandybrown;
    padding: 1em;
    border-radius: 2em;
    margin: 1em;
    width: 70vw;
}
#dudas{
    background-color: aquamarine;
    padding: 1em;
    border-radius: 2em;
    margin: 1em;
    width: 70vw;
}
#pregunta{
    font-weight: bolder;
}
#respuesta{
    position: relative;
    display: block;
    text-align: justify;
    margin-right: 10%;
    left: 10%;
}
#preguntaForo{
    display: block;
    text-align: center;
    border: none;
    border-radius: 2em;
    width: 60vw;
}
#datos{
    display: block;
    text-align: right;
}