body{
    background-color: #f1effe;
    
}

#titulo2{
    background-image: url(../media/img/coyoseis.png);
    background-size: cover;
    text-align: center;
    font-size: 25px;
    color: white;
}

.coyoseis{
    position: relative;
    font-family: 'LogoG';
    font-size: 5vw;
    color: aliceblue;
}

#bienvenida{
    margin: 15px;
    font-size: 25px;
}

.grupos{
    display: flex;
    flex-flow: row wrap;
    /* display: inline-block;
    position: relative; */
    width: 200px;
    height: 200px;
    /* left: 20px; */
    background-color: #C4C4C4;
    margin: 35px;
    text-align: center;
    border-radius: 9px;
    font-size: 15px;
    border-radius: 20px;
}

.opciones{
    /* display: flex inline-block;
    flex-direction: row; */
    /* position: absolute; */
    width: 310px;
    left: 1000px;
    /* top: 330px; */
}
.elementosAside{
    /* position: relative; */
    width: auto;
    height: auto;
    background-color: #C4C4C4;
    text-align: center;
    /* display: inline-block; */
    border-radius: 10px;
    font-size: 20px;
    margin: 15px
}



.card{
    display: inline-block;
    width: 20vw;
    
    margin: 20px;
}

.card-body{
    color: aliceblue;
    background-color: #C4C4C4;
}
#lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}