#alumnos{
    position: relative;
    width: 700px;
    height: 80px;
    left: 50px;
    margin: 35px;
    background-color: #ff7b0094;
    text-align: center;
    display:inline-block;
    border-radius: 9px;
    font-size: 20px;
}
.descripcionAlumnos{
    display: flex inline-block;
    flex-direction: row;
    position: relative;
    width: 350px;
    height: 80px;
    left: 230px;
    margin: 35px;
    text-align: center;
    border-radius: 9px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 20px;
}