#generarAviso{
    position: relative;
    width: 700px;
    height: 190px;
    left: 50px;
    margin: 35px;
    background-color: #c4c4c4;
    text-align: center;
    display:inline-block;
    border-radius: 9px;
    font-size: 20px;
}
#generarTarea{
    position: relative;
    width: 700px;
    height: 130px;
    left: 50px;
    margin: 35px;
    background-color: #c4c4c4;
    text-align: center;
    display:inline-block;
    border-radius: 9px;
    font-size: 20px;
}
#generarActividad{
    position: relative;
    width: 700px;
    height: 130px;
    left: 50px;
    margin: 35px;
    background-color: #c4c4c4;
    text-align: center;
    display:inline-block;
    border-radius: 9px;
    font-size: 20px;
}
#generarPublicacion{
    position: relative;
    width: 700px;
    height: 130px;
    left: 50px;
    margin: 35px;
    background-color: #c4c4c4;
    text-align: center;
    display:inline-block;
    border-radius: 9px;
    font-size: 20px;
}
#btn-Regresar{
    background-color: orange;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border: 0;
    margin: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}