#alumnos{
    position: relative;
    background-color: #ff7b0094;
    text-align: center;
    display: inline-block;
    border-radius: 9px;
    font-size: 20px;
    margin: 35px;
    width: 700px;
    height: 80px;
    left: -6%;
}
.descripcionAlumnos{
    position: relative;
    flex-direction: row;
    text-align: center;
    display: flex inline-block;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid;
    margin: 35px;
    width: 350px;
    height: 80px;
    left: 20%;
    margin: 35px;
}