.contenido{
    position: relative;
    display: flex;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 25px;
    border: 1px solid;
    border-radius: 9px;
    margin: 35px;
    width: 600px;
}
#agregarAdmin{
    position: relative;
    text-align: center;
    font-size: 1em;
}
#formAgregar{
    background-color: white;
    border: 2px solid black;
    padding: 1em;
    font-size: .7em;
    margin-top: 1em;
}